<% if @editable_page.nil? %>
  <% content_for :meta_title, t('.title') %>
  <% content_for :meta_title, t('.description') %>
<% else %>
  <%= render partial: 'editable_pages/entity/metadata', locals: { entity: @editable_page } %>
<% end %>

<article id="homepage">
  <header>
    <h1><%= @editable_page.title %></h1>

    <div class="index-editable">
      <%= raw(@editable_page.body) %>
    </div>
  </header>

  <div class="wrapper">
    <%= render 'index/dashboard/biovision_post' %>
    <div class="sidebar">
      <%=
        render(
            partial: 'shared/popular_posts',
            locals:  {
                collection: Post.popular.list_for_visitors.first(5)
            }
        )
      %>
      <%= render 'shared/donate' %>
    </div>
  </div>
</article>
